h1 {
    text-align: center;
}

.content {
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(160, 151, 25);
}



.link { 
    width: 300px;
    background-color: rgb(75, 27, 27);
}

.number { 
    width: 300px;
    background-color: rgb(15, 83, 38);
}